*{
	margin: 0;
	padding: 0;
}
.swiper-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.swiper-wrapper {
	width: 500%;
}
.swiper-slide {
	width: 100%;
	height: 400px;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}