ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none !important;
}

a:hover {
	text-decoration: none !important;
}

a:visited{
	text-decoration: none !important;
}
a:active{
	text-decoration: none !important;
}
.addphone-input ul li:nth-child(4) a:hover {
	text-decoration: none;
}


body {
	width: 100%;
	min-width: 1180px;
}

.points-content {
	width: 1180px;
	margin: 0 auto;
}

.points {
	background-color: #f2f2f2;
	width: 100%;
	padding-bottom: 40px;
	overflow: hidden;
	padding-top: 20px;
}

.points-left {
	width: 173px;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	padding-bottom: 10px;
	float: left;
}

.points-left>p {
	padding-top: 5px;
	padding-left: 20px;
}

.points-left ul {
	width: 120px;
	margin-top: -8px;
}

.points-left ul li {
	margin-left: 20px;
	margin-top: 12px;
	display: inline-block;
}

.points-left ul li a {
	color: #666666;
}

.points-left ul li a:hover {
	color: #ed7122
}

.points-left ul li:hover {
	color: #ff6c00;
}

.points-left>p {
	font-size: 16px;
	font-weight: bold;
}

.points-left p i {
	padding-left: 60px;
}

.points-left>h3 {
	border-bottom: 1px solid #d3d3d3;
	height: 40px;
	padding-left: 20px;
	color: #666666;
	font-size: 20px;
}

.points-left h3 span {
	color: #ff6c00;
	padding-right: 7px;
}

.fonts1>a {
	color: #ff6c00 !important;
}

.points-right {
	float: left;
	margin-left: 20px;
}

.place-font {
	width: 985px;
	background-color: #ffffff;
	margin: 0 auto;
	border: 1px solid #d3d3d3;
	padding-bottom: 15px;
	position: relative;
}

.addphone-first {
	height: 37px;
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
}

.addphone-first>h3 {
	font-size: 18px;
	color: #008de1;
	margin-left: 20px;
}

.news {
	width: 945px;
	margin: 0 auto;
	margin-top: 15px;
}

.news ul {
	background-color: #eaeaea;
	
}

.news ul li {
	display: inline-block;
	line-height: 38px;
	height: 38px;
}

.news ul li:nth-child(1) {
	margin-left: 120px;
}

.news ul li:nth-child(2) {
	margin-left: 340px;
}

.news ul li:nth-child(3) {
	margin-left: 150px;
}

.news ul li:nth-child(4) {
	margin-left: 120px;
}

.news-side {
	width: 945px;
	margin: 0 auto;
}

.news-side ul {
	height: 42px;
	border-bottom: 1px solid #d3d3d3;
	margin-top: -10px;
	padding-top: 10px;
}

.news-side ul:hover {
	background-color: #fff3ec;
}

.news-side ul li {
	display: inline-block;
	font-size: 13px;
}

.news-side ul li:nth-child(1) {
	padding-left: 20px;
}

.news-side ul li:nth-child(2) {
	margin-left: 145px;
}

.news-side ul li:nth-child(3) {
	margin-left: 105px;
}

.news-side ul li:nth-child(4) {
	margin-left: 105px;
}

.news-side ul li:nth-child(3) a {
	color: #ec6a17;
}

.news-side ul li:nth-child(4) span a {
	color: #008de1;
}

.changes1 {
	/*display: none;*/
}

.changes2 {
	display: none;
	color: #666666;
}

#demo {
	text-align: center;
}

.font-siz {
	margin: 0 auto;
	width: 895px;
	display: none;
}

.font-siz >h3 {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 50px;
	color: #008de1;
}

.font-siz >p {
	text-indent: 40px;
	line-height: 24px;
	height: 300px;
}

.mynews {
	/*display: none;*/
}

#time{
	
	margin-left: 675px;
}




