ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}

.points-content {
	width: 1180px;
	margin: 0 auto;
}

.points {
	/*background-color: #f2f2f2;*/
	width: 100%;
	padding-bottom: 40px;
	overflow: hidden;
	padding-top: 20px;
}


.points-left {
	width: 173px;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	padding-bottom: 10px;
	float: left;
}

.points-left>p {
	padding-top: 5px;
	padding-left: 20px;
}
.points-left ul{
		width: 120px;
		margin-top: -8px;

}
.points-left ul li {
	margin-left: 20px;
	margin-top: 12px;
	
	
	display: inline-block;
}
.points-left ul li a{
	color: #666666;
}

.points-left ul li a:hover{
	color: #ed7122
}
.points-left ul li:hover{
	color: #ff6c00;
}
.points-left>p {
	font-size: 16px;
	font-weight: bold;
}

.points-left p i {
	padding-left: 60px;
}

.points-left>h3 {
	border-bottom: 1px solid #d3d3d3;
	height: 40px;
	padding-left: 20px;
	color: #666666;
	font-size: 20px;
}

.points-left h3 span {
	color: #ff6c00;
	padding-right: 7px;
}

.fonts1>a {
	color: #ff6c00;
}
.points-right{
	float: left;
	margin-left: 20px;
	color: red;
}
.place-font {
	width: 985px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 0;
	border: 1px solid #d3d3d3;
	padding-bottom: 30px;
}

