ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	min-width: 1180px;
}


.points-content {
	width: 1180px;
	margin: 0 auto;
}

.points {
	background-color: #f2f2f2;
	width: 100%;
	padding-bottom: 40px;
	overflow: hidden;
	padding-top: 20px;
}

.points-left {
	width: 173px;
	border: 1px solid #d3d3d3;
	background-color: #ffffff;
	padding-bottom: 10px;
	float: left;
}

.points-left>p {
	padding-top: 5px;
	padding-left: 20px;
}

.points-left ul {
	width: 120px;
	margin-top: -8px;
}

.points-left ul li {
	margin-left: 20px;
	margin-top: 12px;
	display: inline-block;
}

.points-left ul li a {
	color: #666666;
}

.points-left ul li a:hover {
	color: #ed7122
}

.points-left ul li:hover {
	color: #ff6c00;
}

.points-left>p {
	font-size: 16px;
	font-weight: bold;
}

.points-left p i {
	padding-left: 60px;
}

.points-left>h3 {
	border-bottom: 1px solid #d3d3d3;
	height: 40px;
	padding-left: 20px;
	color: #666666;
	font-size: 20px;
}

.points-left h3 span {
	color: #ff6c00;
	padding-right: 7px;
}

.fonts1>a {
	color: #ff6c00 !important;
}

.unpaid-right {
	float: left;
	margin-left: 20px;
}

.place-font {
	width: 985px;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 0;
	border: 1px solid #d3d3d3;
	padding-bottom: 30px;
}

.unpaid-first {
	height: 60px;
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
	/*display: inline-block;*/
}

.unpaid-first>p {
	font-size: 18px;
	margin-left: 20px;
	display: inline-block;
	line-height: 60px;
	font-weight: 300;
	letter-spacing:.7px;
}

.unpaid-first p span {
	color: #ec6a17;
}

.pop2 {
	padding-left: 40px;
}

.refer1 {
	background-color: #ec6a17 !important;
	margin-left: 200px;
	width: 90px;
	height: 30px;
	vertical-align: middle;
	margin-top: -15px;
}

.refer2 {
	margin-left: 40px;
	background-color: #999999 !important;
	border-color: #999999 !important;
	width: 90px;
	height: 30px;
	vertical-align: middle;
	margin-top: -15px;
}

.unpaid-second{
	width: 945px;
	/*height: 420px;*/
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 8px;
	background-color: #f6f6f6;
	overflow: hidden;
}

.unpaid-second ul{
	margin-top: 14px;
}

.unpaid-second ul li{
	font-size: 16px;
	margin-top: 14px;
	padding-left: 20px;
	font-weight: 600;
	
}
.unpaid-head2 ul li:nth-child(1),.unpaid-head2 ul li:nth-child(2),.unpaid-head2 ul li:nth-child(3),.unpaid-head2 ul li:last-child{
	
	font-weight: 300;
}


.unpaid-head1{
	float: left;
	width: 150px;
	
	
}
.unpaid-head2{
	float: left;

}
.unpaid-head3{
	margin-left: 40px;
	
}
.unpaid-head3>h3{
	font-size: 18px;
	font-weight: 300;
	color: #ec6a17;
}

/*引入小松松底部*/

/* 购物车列表 */
table{
  border: 1px solid rgb(201,201,201);
  font-size: 16px;
  font-weight: 200;
  -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    margin-top: 25px;
}
thead tr th{
  text-align: center;
  /* line-height: 40px; */
}
thead tr th:first-child{
  text-align: left;
}


tbody tr td {
  text-align: center;

}
tbody tr td a{
  color: rgb(34,210,218);
}
tbody tr td:nth-child(1) {
  text-align: left;

}
tbody tr td:nth-child(2){
  padding-top: 25px;
}

tbody tr td:nth-child(4) .calc{
  border: 1px solid rgb(201,201,201);
  width: 120px;
  margin: 0 auto;
  background: rgb(239,239,239);
}
tbody tr td:nth-child(4) span{
  display: inline-block;
  padding: 3px 8px;
  font-weight: 900;
  cursor: pointer;
  font-size: 18px;
}
tbody tr td:nth-child(4) input{
  margin: 0;
  padding: 0;
  height: 32px;
  border: 1px solid rgb(201,201,201);
  border-width: 0 1px 0 1px;


}
tbody tr td:nth-child(n + 3){
  padding-top: 38px;
}

tbody tr td:nth-child(4){
  padding-top: 33px;
}
.table thead .checkbox{
  margin: 0;
}
.table thead .checkbox input{
  font-size: 50px;
}
.table tbody .checkbox{
  margin: 0;
  /* padding: 0; */
}
.table tbody .checkbox input{
  margin-top: 35px;
  font-size: 50px;
}

thead tr th:first-child{
  padding-left: 40px;
  width: 460px;
}
tbody tr td:first-child{
  padding-left: 40px;
  width: 460px;
/*   background: red; */
}
tbody .shopNum{
  width: 50px;
  border: 1px solid rgb(201,201,201);
  text-align: center;
}
/*tfoot td{
  position: relative;
}*/
tfoot td p{
  /*margin-left: 100px;*/
  font-size: 22px;
  line-height: 35px;
  /* background: lime; */
  text-align: right;
}

tfoot td p span{
  display: inline-block;
  width: 145px;
  text-align: center;
   /*background: red;*/ 
}
tfoot td p.orange{
  color: rgb(242,86,9);
}

/*引入结束*/
.orderNumber{
	font-weight: 300 !important;
	margin-top: -5px;
	}

.table{
	width: 945px !important;
	margin:auto;
	margin-top: 20px;
}

.point-boot{
	font-size: 16px;
	margin-left: 20px;
	margin-right: 20px;
	height: 98px;
	border-bottom: 1px solid #d3d3d3;
}
.point-boot p{
	margin-top: -20px;
	text-align: right;
	line-height: 100px;
	
}
.point-boot p span{
	margin-left: 60px;
	color: #ec6a17;
	margin-right: 20px;
}

.unpaid-pay p{
	font-size: 26px;
text-align: right;
margin-top: 40px;
margin-right: 30px;
}
.unpaid-pay p span{
	color: #ec6a17;
}


.refer3{
	background-color: #ec6a17 !important;
	margin-left: 740px;
	width: 90px;
	height: 30px;
	
	margin-top: 40px;
}

.refer4{
	margin-left: 30px;
	background-color: #999999 !important;
	border:1px solid #999999 !important;
	width: 90px;
	height: 30px;
	margin-top: 40px;
}











