* {
	margin: 0;
	padding: 0;
}
#body{
	background-color: rgb(234,234,234);
}
section {
	width: 1180px;
	/*height: 1400px;*/
	margin-bottom: 20px;
	background-color: rgb(234,234,234);
	margin: 0 auto;
	overflow: hidden;
}
.yf_right{
	width: 990px;
	float: right;
	margin-top: 20px;
}
.integral_mall{
	/*height: 1300px;*/
	background-color: white;
}
.shows{
	width: 990px;
	/*height: 420px;*/
	margin-top: 10px;
	/*overflow: hidden;*/
}
.shop_list {
	height: 100%;
	height: 100%;
	overflow: hidden;
	/*display: flex;
	justify-content: space-between;
	flex-wrap: wrap;*/
	background-color: white;
/*	float: left;*/
}
.car_sort {
	width: 232px;
	height: 100%;
	border: 1px solid gainsboro;
	margin-bottom: 20px;
	text-align: center;
	float: left;
	margin: 7.5px;
}
.car_sort:hover{
	border: 1px solid red;
}
.sorts_img {
	width: 230px;
	/*height: 270px;*/
}
.sorts_img img{
	width: 100%;
	/*height: 100%;*/
}
.yf_info{
	padding: 10px;
	font-size: 16px;
	line-height: 40px;
	overflow: hidden;
	color: black;
}
.yf_info p{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.current_price{
	color: red;
	float: left;
}
.Original_price{
	float: right;
}

.integral_mall a{
	text-decoration: none;
	color: black;
}
.yf_pagination {
	display: flex;
	justify-content: space-around;
	font-size: 16px;
	width: 990px;
	padding-top: 10px;
	background-color: white;
}

.yf_pagination>p {
	padding: 5px 15px;
	border: 1px solid gainsboro;
}

.jump_to {
	padding-top: 5px;
}

.jump_to input {
	width: 50px;
	text-align: center;
}

.tiaozhuan {
	display: flex;
}

.tiaozhuan>p {
	padding: 5px 15px;
	border: 1px solid gainsboro;
}

.yf_first,
.yf_last {
	color: dodgerblue;
}
.yf_pagination .btn {
	padding: 0;
	height: 34px;
	padding: 5px 25px;
	background-color: dodgerblue;
}
.yf_fenye{
	width: 1180px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
}
.yf_pagination {
	margin-top: 30px;
	position: absolute;
	top: 0;
	right: 0;
}
.commodity{
	margin: 10px 0;
}
.jiage{
	overflow: hidden;
	position: relative;	
}
.convertBtn{
	width: 100px;	
	margin: 0 auto;
	border-radius: 20px;
	border: 1px solid red;
	color: red;
}
.modal{
	margin-top: 200px;
}
.modal-footer{
	display: flex;
	justify-content: space-around;
}
.button{
	background-color: gray;
	color: white;
	padding:10px 25px;
	border-radius: 5px;
}
.orange{
	background-color: orangered;
}
.modal-dialog form select{
  margin-left: 18px;
  height: 34px;
  border: 1px solid rgb(201,201,201);
  outline: none;
}
.my_shoucang{
	color: dodgerblue;
	border: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
	font-size: 20px;
	padding: 5px 5px;
	background-color: white;
}
.my_shoucang p{
	line-height: 40px;
}
.points{
	float: left;
	margin-top: 20px;
}
.points-content {
	width: 170px;
	border: 2px solid gainsboro;
	background-color: white;
}
.points-left{
	width: 100%;
	/*padding: 0 10px 20px;*/
}
.points-left p{
	font-size: 16px;
	padding: 5px 10px;
}
.glyphicon{
	color: orangered;
}
.points-left .center{
	text-align: center;
	padding: 20px;
	font-size: 18px;
	border-bottom: 1px solid gainsboro;
}
.fa-angle-right{
	margin-left: 60px;
}
.points-left ul li{
	padding: 5px 10px;
}
.points-left ul li a{
	/*text-decoration: none;*/
	color: black;
}
.points-left ul li a:hover{
	color: red;
}
.points-left ul .my_collect a{
	color: red;
}
.yf_right .integral_mall a{
	text-decoration: none;
}
