<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/yf_index.css" />
		<script type="text/javascript">
		if(!localStorage.getItem('one')) {
			window.location.href = 'ws_useGuide.html';
		}
		</script>
	</head>

	<body>
		<div id="header"></div>
		<div id="lunbo"></div>
		<section>
			<div class="sorts">
				<a href="javascript:;"><img src="../img/home_page/danghonghaodian.png" /></a>
				<a href="javascript:;"><img src="../img/home_page/manzhuang.png" /></a>
				<a href="javascript:;"><img src="../img/home_page/fugufeng.png" /></a>
				<a href="javascript:;"><img src="../img/home_page/beauty_hall.png" /></a>
			</div>
			<!--精选品牌-->
			<div class="Brand_selection">
				<div class="brand">
					<img src="../img/home_page/Brand_selection.png" />
				</div>
				<div class="selection">
					<a href="javascript:;"><img class="left_meinv" src="../img/home_page/yf_meinv.png" /></a>
					<ul class="right_sorts">
						<li>
							<a href="javascript:;"><img src="../img/home_page/kaorou.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/fulike.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_jiugongge.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_dongcheng.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_haolunge.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_xiaoren.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_xiangcao.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_gaoxing.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_jindingxuan.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_bandeng.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_zhouheiya.png" /></a>
						</li>
						<li>
							<a href="javascript:;"><img src="../img/home_page/yf_xinladao.png" /></a>
						</li>
					</ul>
				</div>
			</div>
			<!--汽车装饰-->
			<div class="car_ornament">
				<div class="head1">
					<div class="left_car">
						<img src="../img/home_page/car_ ornament.png" />
					</div>
					<ul class="commend1">
						<li>爆款推荐</li>
						<li>精品女装</li>
						<li>精品男装</li>
					</ul>
				</div>
				<img class="yf_arrows" src="../img/home_page/arrows.png" />
				<div class="cars">
					<div class="big_car">
						<a href="javascript:;"><img src="../img/home_page/yf_dacar.png" /></a>
					</div>
					<div class="isHide1 true1">
						<div class="car_sorts">
							<div class="shop_list shop_list1">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide1">
						<div class="car_sorts">
							<div class="shop_list shop_list2">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;"  v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide1">
						<div class="car_sorts">
							<div class="shop_list shop_list3">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="comminute" src="../img/home_page/JUMEI.png" />
			<!--精品酒店-->
			<div class="car_ornament">
				<div class="head1">
					<div class="left_car">
						<img src="../img/home_page/icon.png" />
					</div>
					<ul class="commend2">
						<li>爆款推荐</li>
						<li>精品女装</li>
						<li>精品男装</li>
					</ul>
				</div>
				<img class="yf_arrows" src="../img/home_page/arrows.png" />
				<div class="cars">
					<div class="big_car">
						<a href="javascript:;"><img src="../img/home_page/yf_dajiudian.png" /></a>
					</div>
					<div class="isHide2 true2">
						<div class="car_sorts">
							<div class="shop_list shop_list4">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide2">
						<div class="car_sorts">
							<div class="shop_list shop_list5">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>

						</div>
					</div>
					<div class="isHide2">
						<div class="car_sorts">
							<div class="shop_list shop_list6">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<img class="comminute" src="../img/home_page/yf_rechao.png" />
			<!--精品男装-->
			<div class="car_ornament">
				<div class="head1">
					<div class="left_car">
						<a href="javascript:;"><img src="../img/home_page/nanzhuang.png" /></a>
					</div>
					<ul class="commend3">
						<li>爆款推荐</li>
						<li>精品女装</li>
						<li>精品男装</li>
					</ul>
				</div>
				<img class="yf_arrows" src="../img/home_page/arrows.png" />
				<div class="cars">
					<div class="big_car">
						<img src="../img/home_page/yf_dayifu.png" />
					</div>
					<div class="isHide3 true3">
						<div class="car_sorts">
							<div class="shop_list shop_list7">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide3">
						<div class="car_sorts">
							<div class="shop_list shop_list8">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide3">
						<div class="car_sorts">
							<div class="shop_list shop_list9">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="comminute" src="../img/home_page/yf_nvren.png" />
			<!--精品建材-->
			<div class="car_ornament">
				<div class="head1">
					<div class="left_car">
						<img src="../img/home_page/jiancai.png" />
					</div>
					<ul class="commend4">
						<li>爆款推荐</li>
						<li>精品女装</li>
						<li>精品男装</li>
					</ul>
				</div>
				<img class="yf_arrows" src="../img/home_page/arrows.png" />
				<div class="cars">
					<div class="big_car">
						<img src="../img/home_page/yf_dajiaju.png" />
					</div>
					<div class="isHide4 true4">
						<div class="car_sorts">
							<div class="shop_list shop_list10">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide4">
						<div class="car_sorts">
							<div class="shop_list shop_list11">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="isHide4">
						<div class="car_sorts">
							<div class="shop_list shop_list12">
								<div class="car_sort" v-for='item in shopList'>
									<a href="javascript:;" v-on:click='goShop(item.urlimg)'>
										<div class="sorts_img">
											<img v-bind:src='item.urlimg' />
											<div class="zhongxin">
												<p>同城汽车装饰中心</p>
											</div>
										</div>

										<div class="yf_phone">
											<div class="zhezhaoceng"></div>
											<p>
												<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
												<span>魏松</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
												<span>123456789102</span>
											</p>
											<p>
												<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
												<span>北京博物馆</span>
											</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<img class="comminute" src="../img/home_page/yf_jiajutiao.png" />
		</section>
		<div id="footer"></div>

	</body>
	<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#header').load("yf_header_encapsulation.html");
			$('#lunbo').load("lunbo.html");
			$('#footer').load("rj_public_bottom.html");
		});
	</script>

</html>
